* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.apply_box {
    max-width: 600px;
    padding: 40px;
    background-color: white;
    margin: 50px auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.apply_box h1 span {
    font-size: 20px;
}

.form_container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.form_control {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, textarea {
    padding: 8px;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: red;
}

.button_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button {
    background-color: red;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    color: white;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: grey;
    border: 2px solid red;
    color: black;
    cursor: pointer;
}

@media (max-width: 460px) {
    .form_container {
        grid-template-columns: 1fr;
    }
}
